[user]
	name = Alnoman Kamil
	username = gachikuku
	email = noman@kamil.gr
	signingkey = A4DF6340
[sendemail]
	smtpserver = mail.kamil.gr
	smtpuser = noman@kamil.gr
	smtpencryption = tls
	smtpserverport = 587
	annotate = yes
	confirm = always
[core]
	editor = vim
[commit]
	gpgsign = true
[tag]
	gpgsign = true
